{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
<title>{% block title %} Your Account {% endblock title %}</title>

{% block content %}
{% if user.is_authenticated %}

<div class="ui inverted vertical masthead aligned segment background-specific">
    <div class="ui center text container">
        <div class="ui center text container my-4">
            <h1 class="ui inverted header">Account settings<i class="user secret icon"></i></h1>
        </div>
        <div class="ui items">
          <div class="item">
            <div class="ui small image">
                {% if user.profile.user_image %}
                    <img src="{% static '' %}" alt="{{user.profile.}}" class="profileImagehandle">
                {% else %}
                    <img src="{% static '/images/profile_foto.png' %}" alt="{{user.profile.}}">
                {% endif %}
            </div>
            <div class="content">
              <div class="header">Username: {{ user.username }}</div>
              <div class="meta">
                <p>Account created: {{ user.date_joined }} </p>
              </div>
              <div class="description">
                    <p class="price">Firstname: {{ user.first_name }}</p>
                    <p class="stay">Lastname: {{ user.last_name }} </p>
                    <p class="stay">Email: {{ user.email }} </p>
                    <p class="stay">Gender: {{ user.gender }} </p>
                    <p class="stay">Age: {{ user.age }} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="ui center text container my-4">
            <h1 class="ui inverted header"></h1>
        </div>
    </div>
</div>

{% else %}
    Please Login to see the profile page of this user! (...and you know it)
{% endif %}

<script>

    // dynamic Image profile page
    asss = document.querySelector('.profileImagehandle').src="/static/images/" + '{{user.profile.user_image}}' + ".jpg";

</script>

 {% endblock content %}


