{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
         <div class="ui center text container my-4">
            <h1 class="ui inverted header">Create Profile</h1>
         </div>
        <div>
            <form method="post" enctype="multipart/form-data" class="crispy form-horizontal"> {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
               
                      <div class="ui six doubling cards special" id="ImageFieldId">
                        {% if user.gender == 'female' %}
                        <div class="card">
                            <div class="blurring dimmable image">
                              <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">
                                    <div class="ui inverted button red" onclick="selectImageButton(this)" id='1_girl'>Select</div>
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" value="0">
                              <img src="{% static '/images/1_girl.jpg' %}">
                            </div>
                        </div>
                        <div class="card">
                            <div class="blurring dimmable image">
                              <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">
                                    <div class="ui inverted button red" onclick="selectImageButton(this)" id='2_girl'>Select</div>
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" value="1">
                              <img src="{% static '/images/2_girl.jpg' %}">
                            </div>
                        </div>
                        <div class="card">
                            <div class="blurring dimmable image">
                              <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">
                                    <div class="ui inverted button red" onclick="selectImageButton(this)"id='3_girl'>Select</div>
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" value="2">
                              <img src="{% static '/images/3_girl.jpg' %}">
                            </div>
                        </div>
                        <div class="card">
                            <div class="blurring dimmable image">
                              <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">
                                    <div class="ui inverted button red" onclick="selectImageButton(this)" id='4_girl'>Select</div>
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" value="2">
                              <img src="{% static '/images/4_girl.jpg' %}">
                            </div>
                        </div>
                        {% else %}
                        <div class="card">
                          <div class="blurring dimmable image">
                            <div class="ui dimmer">
                              <div class="content">
                                <div class="center">
                                  
                                  <div class="ui inverted button red" onclick="selectImageButton(this)" id='1_man'>Select</div>
                                </div>
                              </div>
                            </div>
                            <input type="hidden" value="0">
                            <img src="{% static '/images/1_man.jpg' %}">
                          </div>
                        </div>
                        <div class="card">
                            <div class="blurring dimmable image">
                              <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">

                                    <div class="ui inverted button red" onclick="selectImageButton(this)" id='2_man'>Select</div>
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" value="1">
                              <img src="{% static '/images/2_man.jpg' %}">
                            </div>
                        </div>
                        <div class="card">
                            <div class="blurring dimmable image">
                              <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">
                                    
                                    <div class="ui inverted button red" onclick="selectImageButton(this)" id='3_man'>Select</div>
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" value="2">
                              <img src="{% static '/images/3_man.jpg' %}">
                            </div>
                        </div>
                        <div class="card">
                            <div class="blurring dimmable image">
                              <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">

                                    <div class="ui inverted button red" onclick="selectImageButton(this)" id='4_man'>Select</div>
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" value="2">
                              <img src="{% static '/images/4_man.jpg' %}">
                            </div>
                          </div>
                        </div>
                        {% endif %}
                    </div>
               
                <div class="container">
                      <button class="ui green button my-3" type="submit">Create profile</button>
                        <br>
                        <small>(Please check all information again before clicking the button)</small>

                </div>
            </form>
        </div>
        <h1 class="ui inverted header"></h1>
    </div>
</div>

 {% endblock content %}