{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
<title>{% block title %} Edit your Account {% endblock title %}</title>

{% block content %}

{% if user.is_authenticated %}
    <div class="ui inverted vertical masthead aligned segment">
        <div class="ui center text container">
            <div class="ui center text container my-4">
                <h1 class="ui inverted header">Edit your Account</h1>
            </div>
            <div class="form-group">
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <button class="positive ui button" type="submit">Edit</button>
                </form>
            </div>
            <div class="ui center text container my-4">
                <h1 class="ui inverted header"></h1>
            </div>
        </div>
    </div>
{% else %}
 <div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
        <div class="ui center text container my-4">
            <h1 class="ui inverted header">OOOPS.... <i class="user secret icon"></i></h1>
        </div>
        <h2>
           You are not allowed here! (...and you know it!)
        </h2>
        <div class="ui center text container my-4">
            <h1 class="ui inverted header"></h1>
        </div>
    </div>
</div>


{% endif %}

{% endblock content %}


