{% extends 'base.html' %}

{% load crispy_forms_tags %}
<title>{% block title %} Login In {% endblock title %}</title>

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>Login Sardor's Blog</h1>
        <form method="post">{% csrf_token %}
          {{ form|crispy }}
          <button class="positive ui button" type="submit">Login</button>
            <a class="negative ui button" href="{% url 'password_reset' %}" role="button">Password forgotten</a>
        </form>

    </div>
    <div class="col-2"></div>
  </div>
</div>
 {% endblock content %}