{% extends 'base.html' %}

{% load crispy_forms_tags %}
<title>{% block title %} Login In {% endblock title %}</title>

{% block content %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
         <div class="ui center text container my-4">
            <h1 class="ui inverted header">Login Money Transfer</h1>
         </div>
        <div>
            <form method="post" class="ui form">{% csrf_token %}
                {{ form|crispy }}
                <button class="ui primary mt-3 button">Login<i class="right arrow icon"></i></button>
                <a class="ui red button mt-3" href="{% url 'password_reset' %}" role="button">Password forgotten</a>
            </form>
        </div>
    </div>
</div>

 {% endblock content %}