{% extends 'base.html' %}

{% load crispy_forms_tags %}
<title>{% block title %} Have you forgotten your password? {% endblock title %}</title>

{% block content %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
        <h1 class="ui inverted header">Have you forgotten your password?</h1>
        <h4>Please, Enter your email-address under below. We send you a link to reset your password</h4>
        <form method="POST">{% csrf_token %}
          {{ form|crispy }}
          <input class="positive ui button mt-3" type="submit" value="Send">
        </form>
    </div>
     <h1 class="ui inverted header"></h1>
</div>
 {% endblock content %}