{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>{% block title %} We have sent an email! {% endblock title %}</title>

{% block content %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
        <h1 class="ui inverted header">You have successfully changed your password!</h1>
        <p>You can log in with your new password on our website now :) </p>
        <form method="POST">{% csrf_token %}
          {{ form|crispy }}
            <button class="positive ui button"><a class="text-white" href="{% url 'login' %}">Login</a></button>
        </form>
    </div>
     <h1 class="ui inverted header"></h1>
</div>
 {% endblock content %}