{% extends 'base.html' %}

{% load crispy_forms_tags %}
<title>{% block title %} Enter your new password! {% endblock title %}</title>

{% block content %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
        <h1 class="ui inverted header">Please, enter your new password!</h1>
        <form method="POST">{% csrf_token %}
          {{ form|crispy }}
          <input class="positive ui button mt-3" type="submit" value="Change password">
        </form>
    </div>
     <h1 class="ui inverted header"></h1>
</div>
 {% endblock content %}