{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>{% block title %} Sign Up {% endblock title %}</title>

{% block content %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
        <h1 class="ui inverted header pt-lg-n5 pt-xl-n5 pt-md-n5">Sign Money Transfer</h1>
          <form method="post" class="ui form">{% csrf_token %}
            {{ form|crispy }}
            <button class="positive ui button" type="submit">Sign Up</button>
          </form>
        <h1 class="ui inverted header"></h1>
    </div>
</div>
{% endblock content %}

