{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
<title>{% block title %} Your Profile {% endblock title %}</title>

{% block content %}
{% if user.is_authenticated %}
        <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1>Your profile</h1>
                <p>BIO PageUser EDIT:</p>
                {{ page_user.bio }}

                <p>First Name:</p>
                {{ page_user.user.first_name }}
                
                <p>Last Name:</p>
                {{ page_user.user.last_name }}
                
                <p>Email:</p>
                {{ page_user.user.email }}
                {% comment %} <p>BIO UserPage:</p>
                {{ page_user.user.bio }} {% endcomment %}

                <p>Gender:</p>
                {{ page_user.user.gender }}

                <p>Instagram:</p>
                {{ page_user.instagram_url }}
                <p>Image</p>
                {{page_user.user_image}}
        <!--         {{ user.profile.last_name }}-->
        <!--         {{ user.profile.bio }}-->

                

                <img src="{% static '' %}" alt="{{page_user.username}}" id="profileImagehandle">



                {% if page_user.telegram_url %}
                    <a href="{{ page_user.telegram_url}}"> Telegram</a>
                {% endif %}

                {% if page_user.instagram_url %}
                    <a href="{{ page_user.instagram_url}}">Instagram</a>
                {% endif %}

                {% if page_user.facebook_url %}
                    <a href="{{ page_user.facebook_url}}">Facebook</a>
                {% endif %}
            </div>
            <div class="col-2"></div>
        </div>
        </div>}
{% else %}
    Please, <a href="{% url 'login' %}">Login</a> to see the profile page of this user!
{% endif %}
 {% endblock content %}