
.ui.inverted.segment,
.ui.primary.inverted.segment {
    background: #001021;
    color: rgba(255, 255, 255, 0.9);
}

.background-specific{
    background-color: #8f8b8b !important
}

.blobs-container {
	display: flex;
}

.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 10px;
	width: 10px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}

.blob.red {
	background: rgba(255, 82, 82, 1);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}

.blob.green {
	background: rgba(8, 173, 48, 1);
	box-shadow: 0 0 0 0 rgba(8, 173, 48, 1);;
	animation: pulse-green 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}

	70% {
		transform: scale(1.25);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(8, 173, 48, 0.8);;
	}

	70% {
		transform: scale(1.25);
		box-shadow: 0 0 0 10px rgba(8, 173, 48, 0);;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(8, 173, 48, 0);;
	}
}
