{% extends 'base.html' %}
{% load static %}
<title>{% block title %} About {% endblock title %}</title>

{% block content %}

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui center text container">
        <h1 class="ui inverted header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">About Money Transfer</h1>
        <h2 data-aos="fade-up"data-aos-anchor-placement="top-bottom">Trust is good, control is better.</h2>
        <div class="ui huge primary button" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="{% url 'transfer_new' %}" class="text-white">Send money</a><i class="right arrow icon"></i></div>
    </div>
</div>

<div class="ui vertical stripe segment" style="border-bottom:0px">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column" >
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Send money easily</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Easily send money to relatives or friends. Or put together with others completely uncomplicated.</p>
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Millions people</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Do it like millions people who send and receive money safely all over the world.</p>
        </div>
        <div class="six wide right floated column" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
           <div class="ui move up reveal">
              <div class="visible content">
                <img src="{% static '/assets/img/around_the_world.png' %}" class="ui image">
              </div>
              <div class="hidden content">
                <img src="{% static '/assets/img/millions_people.png' %}" class="ui image">
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>



<div class="ui vertical stripe segment" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom" style="border-bottom:0px">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
           <div class="six wide left floated column">
           <div class="ui move up reveal">
               <div class="visible content">
                <img src="{% static '/assets/img/without_fees.png' %}" class="ui image">
              </div>
              <div class="hidden content">
                <img src="{% static '/assets/img/opportinuty.png' %}" class="ui image">
              </div>
           </div>
        </div>
        <div class="eight wide column" >
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Very easy and without fees</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">No matter where you are, you can now send money from abroad to your home country without any fees</p>
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Good opportunity</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Very good way to find through our platform anyone who lives in the place where you want to send money, to change money. </p>
        </div>

      </div>
    </div>
  </div>


<div class="container">
    <div class="ui vertical stripe segment">
        <div class="ui six doubling cards">
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
              <img src="{% static '/assets/img/11.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/12.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/13.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/15.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/16.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/17n.png' %}">
            </div>
          </div>
        </div>
    </div>
</div>

<div>
    <img class="ui fluid image" src="{% static '/assets/img/aboutpage_footer_img.png' %}">
</div>


{% endblock content %}