{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="text-center my-5">Transfer bo'yicha batafsil ma'lumot</h1>
  <div class="row">
    <div class="col-12">
        <div class="ui items">
<!--        <img src="{{article.author.profile.user_image.url}}" alt="">-->

            <div class="item">
              {% if object.photo %}
              <div class=" ui small image">
                    <img src="{{ object.photo.url }}" alt="{{ object.title }}">
                </div>
              {% endif %}
              <div class="middle aligned content">
                <div class="header">
                  {{ object.title }}
                </div>
                <div class="description">
                  <h4>{{ object.body | safe }}</h4>
                </div>
                  <div class="meta">
                      <a href="{% url 'user_profile' article.author.id  %}">Author: {{ object.author | title }} - {{ object.date }}</a>
                  </div>
                <div class="extra">
                    <form action="{% url 'like_post' object.pk %}" method="post">{% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if liked %}
                                <button type="submit" name="article_id" value="{{ object.id }}" class="ui red button likeButton">
                                    <i class="thumbs down outline icon"></i>
                                </button>
                            {% else %}
                                <button type="submit" name="article_id" value="{{ article.id }}" class="ui green button">
                                    <p class="item">
                                        <i class="thumbs up outline icon"></i>
                                    </p>
                                </button>
                            {% endif %}
                        {% else %}
                          Login to like
                        {% endif %}

                        <span>Liked: {{ object.total_likes  }}</span>
                    </form>
                  <div class="ui right floated button">
                    Bog'lanish
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row text-center pb-3">
            <div class="col-12">
                <button class="ui yellow button"><a class="item" href="{% url 'article_edit' article.pk %}">Tahrirlash</a></button>
                <button class="ui red button"><a class="item" href="{% url 'article_delete' article.pk %}">O'chirish</a></button>
                <button class="ui violet button"><a class="item" href="{% url 'article_list' %}">Barcha Transferlar</a></button>
            </div>
        </div>
        </div>
      </div>

    <div class="ui threaded comments">
        <h3 class="ui dividing header">Comments</h3>
        {% if not object.comments.all %}
            NO comments yet.. <a href="#">Add one </a>
        {% else %}
        <!--comments-->
            {% for comment in object.comments.all %}
                {% if comment.reply.id %}

                {% else %}
                <div class="comment">
                      <a class="avatar" style="height: 3rem">
                        <img src="{% static '' %}" alt="{{page_user.username}}" class="profileImageShow" id="{{comment.author.profile.user_image}}">
                      </a>
                    <div class="content">
                        <a class="author">{{ comment.author }}</a>
                        <div class="metadata">
                            <span class="date">{{ comment.date }}</span>
                        </div>
                        <div class="text">
                            {{ comment.comment }}
                        </div>
                        <div class="actions">
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!--show all comments end -->

                <div class="comment">

                    <!--comment with replies-->

                    <!--replies-->
                    <div class="comments">
                        {% for reply in comment.replies.all %}
                            <div class="comment">
                                  <a class="avatar" style="height: 3rem">
                                    <img src="{% static '' %}" class="profileImageShowReply" id="{{reply.author.profile.user_image}}">
                                  </a>
                                <div class="content">
                                    <a class="author">{{ reply.author }} {{ reply.author.profile.user_image }}</a>
                                    <div class="metadata">
                                        <span class="date">{{ reply.date }}</span>
                                    </div>
                                    <div class="text">
                                        {{ reply.comment }}
                                    </div>
                                      <!--add replies beginn -->
                                    {% if comment.reply.id %}
                                    {% else %}
                                        {% if user.profile.id %}
                                            <div class="actions ui accordion ">
                                                <a class="reply title">Reply <i class="reply icon"></i></a>
                                                <div class="content">
                                                    <form class="ui reply form" method="post" action="{% url 'article_detail_comment' object.pk %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                    <div class="field">
                                                        {{ form|crispy }}
                                                    </div>
                                                    <input type="submit" value="Reply" name="comment_reply" class="ui green button mt-3">
                                                    <!--                <div class="ui blue labeled submit icon button">-->
                                                    <!--                  <i class="icon edit"></i> Add Reply-->
                                                    <!--                </div>-->
                                                </form>
                                                </div>
                                            </div>
                                        {% else %}
                                            <p>Please, create a profile to add some comments</p>
                                            <div class="item">
                                                <a class="ui inverted primary button" href="{% url 'create_profile_page' %}">Create a profile</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                      <!--add replies end -->
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <!-- comment -->
        Leave Comments ()

        {% if user.is_authenticated %}
            {% if user.profile.id %}
                  <form class="ui reply form" method="post" action="{% url 'article_detail_comment' object.pk %}">
                        {% csrf_token %}
                        <div class="field">
                            {{ form|crispy }}
                        </div>
                        <button name="comment_add" value="{{ object.id }}"  class="ui red button mt-3" type="submit">Send comment</button>
<!--                        <div class="ui blue labeled submit icon button">-->
<!--                            <i class="icon edit"></i> Add Reply-->
<!--                        </div>-->
                    </form>
            {% else %}
            <h1>Please, create a profile page to add some comments </h1>
            <div class="item">
                <a class="ui inverted secondary button" href="{% url 'create_profile_page' %}">Create Profile</a>
            </div>
            {% endif %}

        <!--add comments end -->

        {% else %}
        <br>
        <p class="mt-2">
            Please, Sign up and create a profile to add a comment or login
        </p>
        <div class="item">
            <a class="ui inverted green button mb-4" href="{% url 'login' %}">Login</a>
            <a class="ui inverted red button mb-4" href="{% url 'signup' %}">Signup</a>
        </div>
        <div class="item">
                    </div>
        {% endif %}
        <h1 class="ui inverted header"></h1>
    </div>

</div>
</di>
</di>
</di>
</di>
</di>

<script>

    // identify images of author which written comments
    profileImageShow = document.querySelectorAll('.profileImageShow')
    profileImageShow.forEach(function(item){
        each_profileImage_id = item.id
        each_profileImage = item.src = "/static/images/" + each_profileImage_id + ".jpg";
    })

    // Identify images of the author to which comments have replied
    profileImageShowReply = document.querySelectorAll('.profileImageShowReply')
    profileImageShowReply.forEach(function(item){
        each_profileImageReply_id = item.id
        each_profileImageReply = item.src = "/static/images/" + each_profileImageReply_id + ".jpg"; 

    })

</script>  


 {% endblock content %}

