{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>New Category</h1>
        <div class="form-group">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                {{ form }}
                <button class="ui green button" type="submit">post</button>
            </form>
        </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
 {% endblock content %}