{% extends 'base.html' %}
{% load static %}
<title>{% block title %} Homepage {% endblock title %}</title>

{% block content %}
<!--        {% if user.is_authenticated %}-->
<!--            <p>You are registered as {{ user.username }}</p>-->
<!--            <p><a href="{% url 'logout' %}"> Log out</a></p>-->
<!--        {% else %}-->
<!--            <p>-->
<!--                <a href="{% url 'login' %}">Login</a>-->
<!--                <a href="{% url 'signup' %}">Sign Up</a>-->
<!--            </p>-->
<!--        {% endif %}-->
<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui center text container">
        <h1 class="ui inverted header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Money Transfer</h1>
        <h2 data-aos="fade-up"data-aos-anchor-placement="top-bottom">Trust is good, control is better.</h2>
        <div class="ui huge primary button" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="{% url 'transfer_list' %}" class="text-white">Send money</a><i class="right arrow icon"></i></div>
    </div>
</div>

<div class="ui vertical stripe segment" >
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column" >
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">We Help Companies and Companions</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">We Make Bananas That Can Dance</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
        </div>
        <div class="six wide right floated column" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
           <div class="ui move up reveal">
              <div class="visible content">
                <img src="{% static '/assets/img/ger_uzb.png' %}" class="ui image">
              </div>
              <div class="hidden content">
                <img src="{% static '/assets/img/uzb_ger.png' %}" class="ui image">
              </div>
          </div>
        </div>


      </div>
      <div class="row" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>



<div class="ui vertical stripe segment" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
           <div class="six wide left floated column">
           <div class="ui move up reveal">
              <div class="visible content">
                <img src="{% static '/assets/img/uzb_ger.png' %}" class="ui image">
              </div>
              <div class="hidden content">
                <img src="{% static '/assets/img/ger_uzb.png' %}" class="ui image">
              </div>
          </div>
        </div>
        <div class="eight wide column" >
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">We Help Companies and Companions</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">We Make Bananas That Can Dance</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
        </div>

      </div>
      <div class="row" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe quote segment text-white">
    <div class="ui equal width stackable internally celled grid">
      <div class="row">
        <div class="eight wide text-dark column" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <div class="six wide left floated column">
            <img src="{% static '/assets/img/ger_uzb.png' %}" alt="My image" class="ui image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </div>
        </div>
        <div class="column text-dark" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>

      </div>
    </div>
  </div>


<div class="empty">

</div>

<div class="aos-wrap"  data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
     <img src="{% static '/assets/img/ger_uzb.png' %}" alt="My image" class="ui image">
</div>

{% endblock content %}