{% extends 'base.html' %}

<title>{% block title %} Homepage {% endblock title %}</title>

{% block content %}
<!--        {% if user.is_authenticated %}-->
<!--            <p>You are registered as {{ user.username }}</p>-->
<!--            <p><a href="{% url 'logout' %}"> Log out</a></p>-->
<!--        {% else %}-->
<!--            <p>-->
<!--                <a href="{% url 'login' %}">Login</a>-->
<!--                <a href="{% url 'signup' %}">Sign Up</a>-->
<!--            </p>-->
<!--        {% endif %}-->
<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui center text container">
        <h1 class="ui inverted header">Money Transfer</h1>
        <h2>Trust is good, control is better.</h2>
        <div class="ui huge primary button"><a href="{% url 'article_list' %}" class="text-white">Send money</a><i class="right arrow icon"></i></div>
    </div>
</div>

<div class="ui vertical stripe segment text-white">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header text-white">We Help Companies and Companions</h3>
          <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
          <h3 class="ui header text-white">We Make Bananas That Can Dance</h3>
          <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment text-white">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}