{% extends 'base.html' %}
{% load static %}
<title>{% block title %} Homepage {% endblock title %}</title>

{% block content %}
<!--        {% if user.is_authenticated %}-->
<!--            <p>You are registered as {{ user.username }}</p>-->
<!--            <p><a href="{% url 'logout' %}"> Log out</a></p>-->
<!--        {% else %}-->
<!--            <p>-->
<!--                <a href="{% url 'login' %}">Login</a>-->
<!--                <a href="{% url 'signup' %}">Sign Up</a>-->
<!--            </p>-->
<!--        {% endif %}-->

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui center text container">
        <h1 class="ui inverted header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Money Transfer</h1>
        <h2 data-aos="fade-up"data-aos-anchor-placement="top-bottom">Best way to send money internationally.</h2>
        <div class="ui huge primary button" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="{% url 'transfer_new' %}" class="text-white">Send money</a><i class="right arrow icon"></i></div>
    </div>
</div>

<div class="ui vertical stripe segment segment-gradient" style="border-bottom:0px">
     <h1 class="text-center my-5 home-big-title" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">How can you send money via MoneyTransfer?</h1>
    <div class="container-styled">
      <div class="card-styled" data-aos="zoom-out">
        <img class="image-styled" src="{% static '/assets/img/register_and_identify.svg' %}">
        <div class="info">
          <h2 class="card-title-styled">Sign Up</h2>
          <div class="desc">Sign up online or in our app for free. All you need is an email address and phone number!</div>
        </div>
        <div class="actions">
          <div class="overlay"></div>
          <div class="card-heart-container">
            <div class="card-heart">
                <div class="icon-new-styled">
                    <i class="angle double right icon big"></i>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-styled" data-aos="zoom-out">
        <img class="image-styled" src="{% static '/assets/img/choose_amount.svg' %}">
        <div class="info">
          <h2 class="card-title-styled">Create a new transfer</h2>
          <div class="desc">Create a new transfer with just a few clicks. Tell us how much you want to transfer and where you want to transfer.</div>
        </div>
        <div class="actions">
          <div class="overlay"></div>
          <div class="card-heart-container">
            <div class="card-heart">
                 <div class="icon-new-styled">
                    <i class="angle double right icon big"></i>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-styled" data-aos="zoom-out">
        <img class="image-styled" src="{% static '/assets/img/send-money.svg' %}">
        <div class="info">
          <h2 class="card-title-styled">Send money for free</h2>
          <div class="desc"> We will show you a number of matching transfers in our platform. Send your money without a bank and fees. </div>
        </div>

        <div class="actions-card">
          <div class="overlay"></div>
          <div class="card-heart-container">
            <div class="card-heart">
                 <div class="icon-new-styled">
                    <i class="angle double right icon big"></i>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-styled" data-aos="zoom-out">
        <img class="image-styled text-center" src="{% static '/assets/img/receive_money.svg' %}">
        <div class="info">
          <h2 class="card-title-styled">That's it!</h2>
          <div class="desc">Have you found matching transfer!? Send the money on time and always be honest so that people trust you.</div>
        </div>
        <div class="actions">
          <div class="overlay"></div>
          <div class="card-heart-container">
            <div class="card-heart">
                 <div class="icon-new-styled">
                    <i class="angle double right icon big"></i>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!--     <div class="container">-->
<!--        <div class="ui three column grid">-->
<!--          <div class="column">-->
<!--            <div class="ui fluid card">-->
<!--              <div class="image">-->
<!--                <img src="{% static '/images/1_man.jpg' %}">-->
<!--              </div>-->
<!--              <div class="content">-->
<!--                <a class="header">Daniel Louise<i class="gem icon"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="column">-->
<!--            <div class="ui fluid card">-->
<!--              <div class="image">-->
<!--                <img src="{% static '/images/1_girl.jpg' %}">-->
<!--              </div>-->
<!--              <div class="content">-->
<!--                <a class="header">Helen Troy <i class="handshake icon"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="column">-->
<!--            <div class="ui fluid card">-->
<!--              <div class="image">-->
<!--                <img src="{% static '/images/2_man.jpg' %}">-->
<!--              </div>-->
<!--              <div class="content">-->
<!--                <a class="header">Elliot Fu <i class="trophy icon "></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<div class="ui vertical stripe segment"  style="border-bottom:0px">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column" >
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Send money easily</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Easily send money to relatives or friends. Or put together with others completely uncomplicated.</p>
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Millions people</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Do it like millions people who send and receive money safely all over the world.</p>
        </div>
        <div class="six wide right floated column" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
           <div class="ui move up reveal">
              <div class="visible content">
                <img src="{% static '/assets/img/man_send_money.png' %}" class="ui image">
              </div>
              <div class="hidden content">
                <img src="{% static '/assets/img/women_send_money.png' %}" class="ui image">
              </div>
          </div>
        </div>


      </div>
      <div class="row" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
        <div class="center aligned column">
          <a class="ui huge button" href="{% url 'transfer_list' %}">Transfer Pool</a>
        </div>
      </div>
    </div>
</div>

<div class="ui vertical stripe segment" style="border-bottom:0px" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
           <div class="six wide left floated column">
           <div class="ui move up reveal">
              <div class="visible content">
                <img src="{% static '/assets/img/improve_your_profile.png' %}" class="ui image">
              </div>
              <div class="hidden content">
                <img src="{% static '/assets/img/platform_algorithm.png' %}" class="ui image">
              </div>
          </div>
        </div>
        <div class="eight wide column" >
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">The more you transfer, the faster you will</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">The more transactions you make, the faster you will receive a star from us to your personal profile. Then all your next transfers will be visible for many other users.</p>
          <h3 class="ui header" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Trust</h3>
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">Send the money on time and always be honest so that people trust you. Then your profile will become even stronger via algorithms developed by us in our platform, so that you can find a new partner for your next transaction faster.</p>
        </div>

      </div>
      <div class="row" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
        <div class="center aligned column">
          <a class="ui huge button" href="{% url 'transfer_list' %}" >Transfer Pool</a>
        </div>
      </div>
    </div>
  </div>

<div class="ui vertical stripe segment"  style="border-bottom:0px">
     <h1 class="text-center my-5 home-big-title" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">How can you send money via MoneyTransfer?</h1>
    <div class="container-styled">
      <div class="card-styled" data-aos="zoom-out">
        <img class="image-styled-performance" src="{% static '/assets/img/new_community_reputation.png' %}">
        <div class="info">
          <h2 class="card-title-styled my-4 px-2">Sign Up</h2>
          <div class="desc px-2">Sign up online or in our app for free. All you need is an email address and phone number!</div>
        </div>
        <div class="actions">
          <div class="card-heart-container">
            <div class="card-heart">
                <div class="icon-new-styled">
                    <i class="chevron circle right icon big"></i>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-styled" data-aos="zoom-out">
        <img class="image-styled-performance" src="{% static '/assets/img/community_svg.svg' %}">
        <div class="info">
          <h2 class="card-title-styled my-4 px-2">Create a new transfer</h2>
          <div class="desc px-2">Create a new transfer with just a few clicks. Tell us how much you want to transfer and where you want to transfer.</div>
        </div>
        <div class="actions">
          <div class="card-heart-container">
            <div class="card-heart">
                 <div class="icon-new-styled">
                    <i class="chevron circle right icon big"></i>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-styled" data-aos="zoom-out">
        <img class="image-styled-performance" src="{% static '/assets/img/like_and_reputation.png' %}">
        <div class="info">
          <h2 class="card-title-styled my-4 px-2">Send money for free</h2>
          <div class="desc px-2"> We will show you a number of matching transfers in our platform. Send your money without a bank and fees. </div>
        </div>

        <div class="actions-card">
          <div class="card-heart-container">
            <div class="card-heart">
                 <div class="icon-new-styled">
                    <i class="chevron circle right icon big"></i>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>


<!--     <div class="container">-->
<!--        <div class="ui three column grid">-->
<!--          <div class="column">-->
<!--            <div class="ui fluid card">-->
<!--              <div class="image">-->
<!--                <img src="{% static '/images/1_man.jpg' %}">-->
<!--              </div>-->
<!--              <div class="content">-->
<!--                <a class="header">Daniel Louise<i class="gem icon"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="column">-->
<!--            <div class="ui fluid card">-->
<!--              <div class="image">-->
<!--                <img src="{% static '/images/1_girl.jpg' %}">-->
<!--              </div>-->
<!--              <div class="content">-->
<!--                <a class="header">Helen Troy <i class="handshake icon"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="column">-->
<!--            <div class="ui fluid card">-->
<!--              <div class="image">-->
<!--                <img src="{% static '/images/2_man.jpg' %}">-->
<!--              </div>-->
<!--              <div class="content">-->
<!--                <a class="header">Elliot Fu <i class="trophy icon "></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
</div>


<div class="empty"></div>

<div class="container-fluid mt-5">
    <h1 class="text-center home-big-title" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">All countries</h1>
   <section class="customer-logos slider">
      <div class="slide"><img src="{% static '/assets/flags/germany.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/usa.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/russian.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/uzb.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/gbr.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/japan.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/france.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/italy.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/canada.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/spain.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/austria.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/australia.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/china.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/korean.png' %}"></div>
      <div class="slide"><img src="{% static '/assets/flags/malasia.png' %}"></div>
   </section>
</div>

<div class="ui vertical stripe segment stripe-new-style" style="border-bottom:0px">
    <h1 class="text-center home-big-title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Support</h1>
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Talk with the experts in large transfers</h3>
          <p data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              Our team of specialists is here to give you personalised support and guidance. No robots. Just real people, ready to help.
          </p>
          <div class="ui buttons" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <button class="ui button">Email Us</button>
              <div class="or"></div>
              <button class="ui black button">Contact Us</button>
          </div>
        </div>
        <div class="six wide right floated column support-image">
           <div class="ui move up reveal" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="visible content">
                <img src="{% static '/assets/img/support_new.png' %}" class="ui image">
              </div>
              <div class="hidden content">
                <img src="{% static '/assets/img/support_1.png' %}" class="ui image">
              </div>
          </div>
        </div>


      </div>
    </div>
</div>


<div class="container">
    <div class="ui vertical stripe segment">
        <div class="ui six doubling cards">
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
              <img src="{% static '/assets/img/11.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/12.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/13.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/15.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/16.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/17n.png' %}">
            </div>
          </div>
        </div>
        <div class="ui six doubling cards">
          <div class="card card-items-brands" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="image">
              <img src="{% static '/assets/img/23.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/18.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/19.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/20.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/21.png' %}">
            </div>
          </div>
          <div class="card card-items-brands" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
            <div class="image">
               <img src="{% static '/assets/img/22.png' %}">
            </div>
          </div>
        </div>
    </div>
</div>


<!--<div class="container container-style-plus">-->
<!--    <div class="row">-->
<!--        <div class="col text-center text-white">-->
<!--            <h1 class="s">International Money Transfers</h1>-->
<!--            <p class="">Join over 1000 people who choose Money Transfer for fast and free online money transfers.</p>-->
<!--              <button class="positive ui button">Let's Go!</button>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="footer-image">-->
<!--    <img class="ui fluid image" src="{% static '/assets/img/footer_image_.jpg' %}">-->
<!--</div>-->
<div>
    <img class="ui fluid image" src="{% static '/assets/img/footer_img_.png' %}">
</div>

{% endblock content %}