{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.profile.id %}
        <div class="container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 class="text-center m-4">New Transfer</h1>
                <form method="post" enctype="multipart/form-data" class="crispy form-horizontal"> {% csrf_token %}
                    {{ form.media }}
                    {{ form|crispy }}
                    <button class="ui green button mt-3" type="submit">post</button> <small>(Your email address will not be published)</small>
                </form>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
    {% else %}

     <div class="ui inverted vertical masthead aligned segment">
        <div class="ui center text container">
            <div class="ui center text container my-4">
                <h1 class="ui inverted header"> OOOP .... <i class="user secret icon"></i></h1>
            </div>
            <div class="item">
                <h2 class="my-4">Please, create a profile page to add some transfer</h2>
            </div>
            <div class="item">
                <h2><a class="ui inverted red button" href="{% url 'create_profile_page' %}">Create Profile</a></h2>
            </div>
            <div class="ui center text container my-4">
                <h1 class="ui inverted header"></h1>
            </div>
        </div>
    </div>

    {% endif %}

{% else %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
        <div class="ui center text container my-4">
            <h1 class="ui inverted header">OOOP .... <i class="user secret icon"></i> </h1>
        </div>
        <div class="item">
            <h2> Please, Sign up and create a profile to add a transfer </h2>
        </div>
        <div class="item">
            <a class="ui inverted red button" href="{% url 'signup' %}">Sign up</a>
        </div>
        <div class="ui center text container my-4">
            <h1 class="ui inverted header"></h1>
        </div>
    </div>
</div>

{% endif %}
{% endblock content %}