{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center my-5">Transfer bo'yicha batafsil ma'lumot</h1>
  <div class="row">
    <div class="col-12">
        <div class="ui items">
          <div class="item">
            {% if object.photo %}
                <div class=" ui small image">
                    <img src="{{ object.photo.url }}" alt="{{ object.title }}">
                </div>
            {% endif %}
            <div class="middle aligned content">
              <div class="header">
                {{ object.title }}
              </div>
              <div class="description">
                <h4>{{ object.description | safe }}</h4>
              </div>
                <div class="meta">
                    <a>Author: {{ object.author | title }} - {{ object.date }}</a>
                </div>
              <div class="extra">
                  <div class="ui label">{{ transfer.price }}</div>
                <div class="ui right floated button">
                  Bog'lanish
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center pb-3">
            <div class="col-12">
                <button class="ui yellow button"><a class="item" href="{% url 'transfer_edit' transfer.pk %}">Tahrirlash</a></button>
                <button class="ui red button"><a class="item" href="{% url 'transfer_delete' transfer.pk %}">O'chirish</a></button>
                <button class="ui green button"><a class="item text-white" href="{% url 'transfer_list' %}">Barcha Transferlar</a></button>
            </div>
        </div>
        <br/>
    </div>
  </div>
</div>
 {% endblock content %}