{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.profile.id %}
     <div class="ui inverted vertical masthead aligned segment">
        <div class="ui center text container">
            <div class="ui center text container my-4">
                <h1 class="ui inverted header">New Transfer<i class="sync icon"></i></h1>
            </div>
            <form method="post" enctype="multipart/form-data" class="crispy form-horizontal" style="width: 100%"> {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <button class="ui green button mt-3" type="submit">Submit</button> <small>(Please, check all informations, before creating a new transfer)</small>
            </form>
            <div class="ui center text container my-4">
                <h1 class="ui inverted header"></h1>
            </div>
        </div>
    </div>

    {% else %}

     <div class="ui inverted vertical masthead aligned segment">
        <div class="ui center text container">
            <div class="ui center text container my-4">
                <h1 class="ui inverted header"> OOOP .... <i class="user secret icon"></i></h1>
            </div>
            <div class="item">
                <h2 class="my-4">Please, create a profile page to add some transfer</h2>
            </div>
            <div class="item">
                <h2><a class="ui inverted red button" href="{% url 'create_profile_page' %}">Create Profile</a></h2>
            </div>
            <div class="ui center text container my-4">
                <h1 class="ui inverted header"></h1>
            </div>
        </div>
    </div>

    {% endif %}

{% else %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="ui center text container">
        <div class="ui center text container my-4">
            <h1 class="ui inverted header">OOOP .... <i class="user secret icon"></i> </h1>
        </div>
        <div class="item">
            <h2> Please, Login or Sign up to add a new transfer </h2>
        </div>
        <div class="item my-3">
            <a class="ui inverted green button" href="{% url 'login' %}">Login</a>
            <a class="ui inverted red button" href="{% url 'signup' %}">Sign up</a>
        </div>
        <div class="ui center text container my-4">
            <h1 class="ui inverted header"></h1>
        </div>
    </div>
</div>

{% endif %}



    <script>
        $(document).ready(function(){

            $('#id_whichLocation').empty();

            let uzStrings = JSON.parse('{{ json_uz_strings | escapejs }}');
            let gerStrings = JSON.parse('{{ json_ger_strings | escapejs }}');
            let usaStrings = JSON.parse('{{ json_usa_strings | escapejs }}');

            $('#id_location').on('change', function(){

                let location = $('#id_location').val();

                if(location == 'Uzbekistan'){

                    $('#id_whichLocation').empty();

                    let length = uzStrings.length;
                    let i;
                    for(i=0; i < length; i++){

                        whichLocation = uzStrings[i];
                        $('#id_whichLocation').append(
                            `
                            <option value="${whichLocation}">
                                ${whichLocation}
                            </option>
                            `
                        );

                    }

                }
                else if(location == 'Germany'){

                    $('#id_whichLocation').empty();

                    let length = gerStrings.length;
                    let i;
                    for(i=0; i < length; i++){

                        whichLocation = gerStrings[i];
                        $('#id_whichLocation').append(
                            `
                            <option value="${whichLocation}">
                                ${whichLocation}
                            </option>
                            `
                        );

                    }

                }
                else if(location == 'USA'){

                    $('#id_whichLocation').empty();

                    let length = usaStrings.length;
                    let i;
                    for(i=0; i < length; i++){

                        whichLocation = usaStrings[i];
                        $('#id_whichLocation').append(
                            `
                            <option value="${whichLocation}">
                                ${whichLocation}
                            </option>
                            `
                        );

                    }

                }
                else{
                    $('#id_whichLocation').empty();
                }

            });

        });
    </script>


{% endblock content %}
