{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Transfer Pool {% endblock title %}</title>
{% load crispy_forms_tags %}

{% block content %}
<div class="ui inverted vertical masthead aligned segment">
    <div class="container">
      <div class="row">
      <h1 class="text-center my-5">Transfer Pool</h1>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-4" data-aos="fade-right">
           <h4 class="ui text"><i class="filter icon"></i> Filter</h4>
           <form method="get"class="my-3">{% csrf_token %}
                {{ form.media }}
                {{ filter.form|crispy }}
               <input class="ui green button my-3" type="submit" value="Qidirish...">
           </form>
          <div class="col-lg-12 col-xl-12 col-md-12 text-center mb-4">
              <buttun class="ui red button"><a class="text-white" href="{% url 'transfer_new' %}">Transfer qo'shish <i class="plus square outline icon"></i></a></buttun>
          </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-4  mb-5">
       <div class="ui segment border-0">

        {% for transfer in filtered_transfers %}
            <br/>
            <div class="ui divided items p-4 border">
              <div class="item" data-aos="zoom-in">
                   {% if transfer.location == 'UZB' %}
                      <div class="image">
                         <img src="{% static '/assets/img/ger_uzb.png' %}" alt="{{ transfer.title }}">
                      </div>
                 {% elif transfer.location == 'UZBUSA' %}
                      <div class="image">
                         <img src="{% static '/assets/img/uzb_usa.png' %}" alt="{{ transfer.title }}">
                      </div>
                  {% elif transfer.location == 'USAUZB' %}
                      <div class="image">
                         <img src="{% static '/assets/img/usa_uzb.png' %}" alt="{{ transfer.title }}">
                      </div>
                  {% else %}
                      <div class="image">
                          <img src="{% static '/assets/img/uzb_ger.png' %}" alt="{{ transfer.title }}">
                      </div>
                  {% endif %}
                <div class="content">
                  <p class="header">{{ transfer.title }}</p>
                  <div class="meta">
                    <a class="cinema" href="{% url 'user_profile' transfer.author.id  %}">Author: {{ transfer.author | title }} - {{ transfer.date }}</a>
                  </div>
                    <div class="extra">
                        <form action="{% url 'view_transfer' transfer.pk %}" method="post">{% csrf_token %}
                             <button class="ui right floated primary button" type="submit" name="transfer_id" value="{{ transfer.id }}" >
<!--                             if debugs,then change the logic-->
<!--                                <a href="{% url 'transfer_detail' transfer.pk %}" type="submit" name="transfer_id" value="{{ transfer.id }}" style="color: white">Batafsil...</a>-->
                                    batafsil...
                                 <i class="right chevron icon"></i>
                            </button>
<!--                            <button type="submit" name="transfer_id" value="{{ transfer.id }}" class="ui green button">-->
<!--                                <p class="item">-->
<!--                                    <i class="arrow up icon"></i>-->
<!--                                </p>-->
<!--                            </button>-->
                        </form>

                        <div class="ui label">{{ transfer.price }}</div>
<!--                        {% if transfer.location == 'GER' %}-->
<!--                            <div class="ui label">-->
<!--                                <i class="globe icon"></i> LOCATION: <i class="uz flag"></i>-->
<!--                            </div>-->
<!--                        {% elif transfer.location == 'UZBUSA' %}-->
<!--                            <div class="ui label">-->
<!--                                <i class="globe icon"></i> LOCATION: <i class="uz flag"></i>-->
<!--                            </div>-->
<!--                        {% elif transfer.location == 'USAUZB' %}-->
<!--                            <div class="ui label">-->
<!--                                <i class="globe icon"></i> LOCATION: <i class="us flag"></i>-->
<!--                            </div>-->
<!--                        {% else %}-->
<!--                            <div class="ui label">-->
<!--                                <i class="globe icon"></i>LOCATION:<i class="de flag" style="margin-left:5px"></i>-->
<!--                            </div>-->
<!--                        {% endif %}-->

                        {% if transfer.moneyCurrency == 'dollar' %}
                        <div class="ui label">
                            <i class="dollar sign icon"></i>
                            Dollar
                        </div>
                        {% elif transfer.moneyCurrency == 'euro' %}
                        <div class="ui label">
                            <i class="euro sign icon"></i>
                            Euro
                        </div>
                        {% elif transfer.moneyCurrency == 'som' %}
                        <div class="ui label">
                            <i class="money bill alternate icon"></i>
                            So'm
                        </div>
                        {% elif transfer.moneyCurrency == 'euroordollar' %}
                        <div class="ui label">
                            <i class="euro sign icon"></i>Euro yoki Dollar <i class="dollar sign icon"></i>
                        </div>
                        {% elif transfer.moneyCurrency == 'euroorsom' %}
                        <div class="ui label">
                            <i class="euro sign icon"></i>Euro yoki So'm <i class="money bill alternate icon"></i>
                        </div>
                        {% else %}
                        <div class="ui label">
                            <i class="money bill alternate icon"></i>So'm yoki Dollar <i class="dollar sign icon"></i>
                        </div>
                        {% endif %}

                        <div class="meta my-3">
                            <span><i class="globe icon"></i> LOCATION: </span>
                            <span>
                                {% if transfer.location == 'GER' %}
                                    O'bekiston
                                {% elif transfer.location == "USAUZB" %}
                                    Amerika
                                {% elif transfer.location == "UZBUSA" %}
                                    O'bekiston
                                {% else %}
                                    Germaniya
                                {% endif %}
                            </span>
                        </div>

                        <div class="meta my-3">
                            <span><i class="flag icon black"></i> TARGER: </span>
                            <span>
                                {% if transfer.location == "GER" %}
                                    O'bekiston: ({{ transfer.get_whichLocation_display }})
                                {% elif transfer.location == "UZBUSA" %}
                                    Amerika: ({{ transfer.get_whichLocation_display }})
                                {% elif transfer.location == "USAUZB" %}
                                    O'bekiston: ({{ transfer.get_whichLocation_display }})
                                {% else %}
                                    Germaniya: ({{ transfer.get_whichLocation_display }})
                                {% endif %}
                            </span>
                        </div>
                        <div class="meta my-3">
                            <span> | </span><span><i class="heart icon red"></i>  Likes: {{ transfer.total_likes }} {{ author.liked }}  </span>
                            <span> | </span>
                            <span><i class="eye icon black"></i> Views: {{ transfer.total_views }}</span><span> | </span>
                        </div>
                        {% if user.id == transfer.author.profile.id %}
                        {% else %}
                            <form action="{% url 'reputation_transfer' transfer.pk %}" method="post">{% csrf_token %}
                            {% if user.is_authenticated %}
                                <button type="submit" name="transfer_id" value="{{ transfer.id }}" class="ui green button">
                                    <p class="item">
                                        <i class="arrow up icon"></i>
                                    </p>
                                </button>
                            {% else %}
                              Login to give reputation
                            {% endif %}

                            <span> Reputations: {{ transfer.total_reputations }}</span>
                        </form>
                        {% endif %}

                    </div>
                    <div class="description">
                      <div class="ui label text-danger"> <span class="text-dark">Transfer turi:</span> {{ transfer.transferArt }}</div>
                  </div>
                </div>
              </div>
            </div>

        {% endfor %}
           <!--Pagination-->
        <div class="container my-5">
            <div class="row text-center">
                 <div class="ui small horizontal divided list">
                     {% if page_obj.has_previous %}
                         <div class="item">
                           <div class="content">
                               <a href="?page=1" class="header">&laquo; first</a>
                           </div>
                         </div>
                         <div class="item">
                           <div class="content">
                               <a href="?page={{ page_obj.previous_page_number }}" class="header">previous</a>
                           </div>
                         </div>
                     {% endif %}

                    <div class="item">
                       <div class="content">
                           <div class="header">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
                       </div>
                    </div>
                     {% if page_obj.has_next %}
                        <div class="item">
                           <div class="content">
                                <a href="?page={{ page_obj.next_page_number }}" class="header">next</a>
                           </div>
                        </div>
                         <div class="item">
                            <div class="content">
                                <a href="?page={{ page_obj.paginator.num_pages }}" class="header">last &raquo;</a>
                           </div>
                         </div>
                     {% endif %}
                    </div>
                 </div>
            </div>

<!--           <nav aria-label="Page navigation example">-->
<!--              <ul class="pagination">-->
<!--                {% if page_obj.has_previous %}-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="#">-->
<!--                            <a href="?page=1">&laquo; first</a>-->
<!--                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                {% endif %}-->

<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="#">-->
<!--                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--                    </a>-->
<!--                </li>-->
<!--                {% if page_obj.has_next %}-->
<!--                    <li class="page-item">-->
<!--                        <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--              </ul>-->
<!--            </nav>-->


       </div>
     </div>
  </div>
    </div>
</div>


 {% endblock content %}