{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    {% if messages %}
       <div class="ui positive message transition transfer_update">
          <i class="close icon"></i>
          <div class="header">
            Transfer
          </div>
            <p>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </p>
       </div>
   {% endif %}
  <h1 class="text-center my-5">Transfer bo'yicha batafsil ma'lumot</h1>
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6">
        <div class="ui items p-4 border">
          <div class="item">
             {% if transfer.location == 'Germany' %}
                  <div class="image">
                     <img src="{% static '/assets/img/ger_uzb.png' %}" alt="{{ transfer.title }}">
                  </div>
             {% elif transfer.location == 'Uzbekistan' %}
                  <div class="image">
                     <img src="{% static '/assets/img/uzb_ger.png' %}" alt="{{ transfer.title }}">
                  </div>
              {% elif transfer.location == 'USAUZB' %}
                  <div class="image">
                     <img src="{% static '/assets/img/usa_uzb.png' %}" alt="{{ transfer.title }}">
                  </div>
              {% else %}
                  <div class="image">
                      <img src="{% static '/assets/img/uzb_ger.png' %}" alt="{{ transfer.title }}">
                  </div>
              {% endif %}
            <div class="middle aligned content">
              <div class="header">
                {{ transfer.title }}
              </div>
                <div class="meta my-3">
                    <span><i class="eye icon"></i> Views: {{ object.total_views }}</span>
                </div>
              <div class="description">
                <h4>{{ object.description | safe }}</h4>
              </div>
                <div class="meta">
                    <a>Sana: {{ transfer.date }}</a>
                </div>
              <div class="extra">
                  <div class="ui label">{{ transfer.price }}</div>
                  {% if transfer.location != 'GER' %}
                      <div class="ui label"><i class="globe icon"></i>
                         <i class="uz flag"></i>
                      </div>
                  {% else %}
                  <div class="ui label"><i class="globe icon"></i>
                         <i class="de flag"></i>
                  </div>
                 {% endif %}

                  {% if transfer.moneyCurrency == 'dollar' %}
                      <div class="ui label">
                         <i class="dollar sign icon"></i>
                      </div>
                  {% elif transfer.moneyCurrency == 'euro' %}
                      <div class="ui label">
                         <i class="euro sign icon"></i>
                      </div>
                  {% elif transfer.moneyCurrency == 'som' %}
                      <div class="ui label">
                         <i class="money bill alternate icon"></i>
                      </div>
                  {% elif transfer.moneyCurrency == 'euroordollar' %}
                      <div class="ui label">
                         <i class="euro sign icon"></i>
                         <i class="dollar sign icon"></i>
                      </div>
                  {% elif transfer.moneyCurrency == 'euroorsom' %}
                      <div class="ui label">
                         <i class="euro sign icon"></i>
                         <i class="money bill alternate icon"></i>
                      </div>
                  {% else %}
                      <div class="ui label">
                         <i class="money bill alternate icon"></i>
                          <i class="dollar sign icon"></i>
                      </div>
                 {% endif %}
                 <div class="meta my-3">
                      <span>
                          <i class="map pin icon"></i> LOCATION:
                      </span>
                        {% if transfer.location == 'Germany' %}
                            Uzbekistan
                        {% elif transfer.location == "Uzbekistan" %}
                            Germany
                        {% elif transfer.location == "England" %}
                            England
                        {% elif transfer.location == "USA" %}
                            Amerika
                        {% else %}
                            None
                        {% endif %}

                        {% comment %} <form action="{% url 'like_transfer' transfer.pk %}" method="post">{% csrf_token %}
                            {% if user.is_authenticated %}
                                {% if liked %}
                                    <button type="submit" name="transfer_id" value="{{ object.id }}" class="ui red button likeButton">
                                        <i class="thumbs down outline icon"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" name="transfer_id" value="{{ transfer.id }}" class="ui green button">
                                        <p class="item">
                                            <i class="thumbs up outline icon"></i>
                                        </p>
                                    </button>
                                {% endif %}
                            {% else %}
                              Login to like
                            {% endif %}

                            <span>Liked: {{ object.total_likes  }} {{ liked  }}</span>
                        </form> {% endcomment %}

                        {% comment %} like {% endcomment %}
                    </div>
                    <div class="meta my-3">
                        <span><i class="flag icon black"></i> TARGER:</span>
                        <span>
                            {% if transfer.location == "Germany" %}
                                Germany ({{ transfer.get_whichLocation_display }})
                            {% elif transfer.location == "Uzbekistan" %}
                                Uzbekistan ({{ transfer.get_whichLocation_display }})
                            {% elif transfer.location == "USA" %}
                                Amerika ({{ transfer.get_whichLocation_display }})
                            {% elif transfer.location == "England" %}
                                England ({{ transfer.get_whichLocation_display }})
                            {% else %}
                                None ({{ transfer.get_whichLocation_display }})
                            {% endif %}
                        </span>
                    </div>
                    <div class="meta">
                        {% if user.is_authenticated %}
                            {% if user.profile.id %}
                                <button class="btn text-dark p-0 btn-outline-light" type="submit" id="like-button" value="{{object.id}}">
                                    {% if liked %}
                                        <i class="heart icon big red like-button-icon"></i>
                                    {% else %}
                                        <i class="heart outline icon big red like-button-icon"></i>
                                    {% endif %}
                                </button>
                                <span class="" id="like_count">Likes: {{object.like_count }}</span>
                            {% else %}
                                <span>Create profile to Like</span> <span class="">Likes: {{object.like_count }}</span>
                            {% endif %}
                        {% else %}
                            <span>(Please, Login to like) </span>
                            <span>Likes: {{object.like_count }}</span>
                        {% endif %}
                    </div>

                  {% if user.id == transfer.author.profile.id %}
                    <div class="meta mb-5">
                        <button class="btn text-dark p-0 btn-outline-light" id="status-transfer-button" value="{{transfer.id}}">
                            {% if transfer.status_transfer %}
                                <i class="eye icon big green transfer-status-button-icon"></i>
                            {% else %}
                                <i class="eye icon big transfer-status-button-icon"></i>
                            {% endif %}
                        </button>
                        <span id="status_transfer_display" >
                            {% if transfer.status_transfer %}
                                Status: Aktiv
                            {% else %}
                                Status: Inaktiv
                            {% endif %}
                        </span>
                    </div>
                  {% else %}

                  {% comment %} reputation {% endcomment %}

                  <div class="meta">
                      {% if user.is_authenticated %}
                          {% if user.profile.id %}
                            <button class="btn text-dark p-0 btn-outline-light" id="reputation-button" value="{{object.id}}">
                            {% if reputation %}
                                <i class="arrow alternate circle up icon big green reputation-button-icon"></i>
                            {% else %}
                                <i class="arrow alternate circle up icon big reputation-button-icon"></i>
                            {% endif %}
                            </button>
                            <span id="reputation_count">Reputations: {{object.reputation_count }}</span>
                          {% else %}
                            <span>Create profile to give reputation</span> <span>Reputations: {{object.reputation_count }}</span>
                            <div class="item mt-4">
                                <a class="ui inverted primary button" href="{% url 'create_profile_page' %}">Create a profile</a>
                            </div>
                          {% endif %}
                      {% else %}
                        <span>(Please, Login to give reputation)</span>
                        <span>Reputations: {{object.reputation_count }}</span>
                      {% endif %}
                  </div>

                       {% comment %} <form action="{% url 'reputation_transfer' transfer.pk %}" method="post">{% csrf_token %}
                            {% if user.is_authenticated %}
                                {% if reputation %}
                                    <button type="submit" name="transfer_id" value="{{ transfer.id }}" class="ui red button reputationButton">
                                         <i class="arrow down icon"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" name="transfer_id" value="{{ transfer.id }}" class="ui green button">
                                        <p class="item">
                                             <i class="arrow up icon"></i>
                                        </p>
                                    </button>
                                {% endif %}
                            {% else %}
                              Login to give reputation
                            {% endif %}
                            <span> Reputation: {{ object.total_reputations }}</span>
                        </form> {% endcomment %}
                   {% endif %}

                  {% if user.is_authenticated %}
                      <div class="ui right floated button">
                          Bog'lanish
                      </div>
                  {% else %}
                      <div class="ui right floated button red">
                          <a href="{% url 'login' %}">Login</a>
                      </div>
                      <div class="ui right floated button">
                          Bog'lanish uchun röyhatdan öting
                      </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% if user.id == transfer.author.id %}
            <div class="row text-center pb-3">
                <div class="col-12">
                    <button class="ui yellow button"><a class="item" href="{% url 'transfer_edit' transfer.pk %}">Tahrirlash</a></button>
                    <button class="ui red button"><a class="item" href="{% url 'transfer_delete' transfer.pk %}">O'chirish</a></button>
                    <button class="ui green button"><a class="item text-white" href="{% url 'transfer_list' %}">Barcha Transferlar</a></button>
                </div>
            </div>
        {% endif %}
        <br/>
    </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6">
        <div class="ui text container">
         <div class="ui text container ">
            <h1 class="ui inverted header text-dark text-center mb-2">Profile</h1>
        </div>
        <div class="ui divided items">

          <div class="item">
            <div class="image">
              <img src="{% static '' %}" alt="{{transfer.author.profile.username}}" class="profileImageShow" id="{{transfer.author.profile.user_image}}">
            </div>
            <div class="content">
              <a class="header" href="{% url 'user_profile' transfer.author.profile.pk %}">Username: {{ transfer.author.username }}</a>
              <div class="meta">
                <span class="cinema">Profile created: {{ transfer.author.profile.date }}</span>
              </div>
               <div class="meta">
                <span class="cinema">Firstname: {{ transfer.author.first_name }}</span>
              </div>
                <div class="meta">
                <span class="cinema">Lastname: {{ transfer.author.last_name }} </span>
              </div>
              <div class="extra">
                <div class="ui label">IMAX</div>
                <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                {% if transfer.author.profile.telegram_url %}
                    <div class="ui label"><a href="{{ transfer.author.profile.telegram_url}}"> Telegram</a></div>
                {% endif %}

                {% if transfer.author.profile.instagram_url %}
                  <div class="ui label"><a href="{{ transfer.author.profile.instagram_url}}"> Instagram</a></div>
                {% endif %}

                {% if transfer.author.profile.facebook_url %}
                  <div class="ui label"><a href="{{ transfer.author.profile.facebook_url}}"> Facebook</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="ui labeled button mb-2" tabindex="0">
          <div class="ui primary button create_btn" id="show_transfers">
            <i class="exchange icon"></i>Transfers
          </div>
          <a class="ui basic left pointing blue label">
            {{ page_user_transfer.count }}
          </a>
        </div>
         <div class="ui labeled button mb-2" tabindex="0">
          <div class="ui green button create_btn" id="new_test">
            <i class="chart line icon"></i> Reputations
          </div>
          <a class="ui basic left pointing blue label">
            {% if total_reputations > 0 %}
                {{total_reputations}}
             {% else %}
                0
             {% endif %}
          </a>
        </div>
        <div class="ui labeled button mb-2" tabindex="0">
          <div class="ui red button create_btn" id="test">
            <i class="heart icon"></i> Likes
          </div>
          <a class="ui basic red left pointing label">
            {% if total_likes > 0%}
                {{total_likes}}
            {% else %}
                0
            {% endif %}
          </a>
        </div>
        <div class="ui labeled button mb-2" tabindex="0">
          <div class="ui grey button">
            <i class="comments icon"></i> Comments
          </div>
          <a class="ui basic left pointing blue label">
            {{ page_user_comment.count }}
          </a>
        </div>


<!--         <div class="ui special cards justify-content-center flex-lg-nowrap">-->
<!--            <div class="card">-->
<!--            <div class="blurring dimmable image">-->
<!--              <div class="ui dimmer">-->
<!--                <div class="content">-->
<!--                  <div class="center">-->
<!--                    <div class="ui inverted button"><h1>{{ page_user_transfer.count }}</h1></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <img src="{% static '/assets/img/transfers.png' %}" >-->
<!--            </div>-->
<!--          </div>-->
<!--            <div class="card">-->
<!--            <div class="blurring dimmable image">-->
<!--              <div class="ui dimmer">-->
<!--                <div class="content">-->
<!--                  <div class="center">-->
<!--                    <div class="ui inverted button">-->
<!--                        {% if total_reputations > 0 %}-->
<!--                            <h1>{{total_reputations}}</h1>-->
<!--                        {% else %}-->
<!--                            <h1>0</h1>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <img src="{% static '/assets/img/reputations.png' %}">-->
<!--            </div>-->
<!--          </div>-->
<!--            <div class="card">-->
<!--                <div class="blurring dimmable image">-->
<!--                  <div class="ui dimmer">-->
<!--                    <div class="content">-->
<!--                      <div class="center">-->
<!--                        <div class="ui inverted button">-->
<!--                            {% if total_likes > 0%}-->
<!--                                <h1>{{total_likes}}</h1>-->
<!--                            {% else %}-->
<!--                                <h1>0</h1>-->
<!--                            {% endif %}-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <img src="{% static '/assets/img/likes.png' %}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="blurring dimmable image">-->
<!--                  <div class="ui dimmer">-->
<!--                    <div class="content">-->
<!--                      <div class="center">-->
<!--                        <div class="ui inverted button"><h1>{{ page_user_comment.count }}</h1></div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <img src="{% static '/assets/img/comments.png' %}" >-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
      </div>
  </div>

<!--    comments section begin-->

    <div class="ui threaded comments">
        <h3 class="ui dividing header">Comments {{ transfer.page_obj }}</h3>
        {% if not object.transfer_comments.all %}
            NO comments yet..
        {% else %}

        <!--comments-->

            {% for comment in object.transfer_comments.all %}
                {% if comment.reply.id %}
                {% else %}
                    <div class="comment">
                        <a class="avatar" style="height: 3rem">
                            <img src="{% static '' %}" alt="{{page_user.username}}" class="profileImageShow" id="{{comment.author.profile.user_image}}">
                        </a>
                        <div class="content">
                            <a class="author" href="{% url 'user_profile' comment.author.profile.pk %}">{{ comment.author }}</a>
                            <div class="metadata">
                                <span class="date">{{ comment.date }}</span>
                            </div>
                            <div class="text">

                                <div class="row">
                                    <div class="col-8">
                                        <p class="mb-3">{{ comment.transfer_comment }} {{ user.id }}</p>
                                    </div>
                                    <div class="col-4" style="text-align: right;">
                                        {% if user.is_authenticated %}
                                            {% if user.id == comment.author.id %}
                                                <form class="ui reply" method="post" action="{% url 'delete_comment' object.id %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                    <button class="ui red button"><a class="item text-white"><i class="trash alternate icon"></i></a></button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                {% if comment.transfer_replies.all %}
                                    <a class="reply">Replies</a>
                                {% else %}
                                    <a class="reply">No replies yet</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endif %}
                <!--show all comments end -->

                <!--transfer_comment-->
                    {% if comment.reply.id %}
                    {% else %}
                        <div class="comment">

                            <!--comment with replies-->

                            <!--replies-->
                            <div class="comments mb-4">
                                {% for reply in comment.transfer_replies.all %}
                                    <div class="comment">
                                        <a class="avatar" style="height: 3rem">
                                            <img src="{% static '' %}" class="profileImageShowReply" id="{{reply.author.profile.user_image}}">
                                        </a>
                                        <div class="content">
                                            <a class="author" href="{% url 'user_profile' reply.author.profile.pk %}">{{ reply.author }}</a>
                                            <div class="metadata">
                                                <span class="date">{{ reply.date }}</span>
                                            </div>
                                            <div class="text">
                                                {{ reply.transfer_comment }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <!--add replies beginn -->
                                {% if transfer_comment.reply.id %}

                                {% else %}
                                    {% if user.is_authenticated %}
                                        {% if user.profile.id %}
                                            <div class="action ui accordion" style="text-align: right;">
                                                <a class="reply title">Reply <i class="reply icon"></i></a>
                                                <div class="content">
                                                    <form class="ui reply form" method="post" action="{% url 'transfer_detail_comment' object.pk %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                        <div class="field">
                                                            {{ form|crispy }}
                                                        </div>
                                                        <input type="submit" value="Reply" name="comment_reply" class="ui green button mt-3">
                                                    </form>
                                                </div>
                                            </div>
                                        {% else %}
                                            <p>Please, create a profile to add some comments</p>
                                            <div class="item">
                                                <a class="ui inverted primary button" href="{% url 'create_profile_page' %}">Create a profile</a>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <p>Please, Login to add some comments</p>
                                        <div class="item">
                                            <a class="ui inverted primary button" href="{% url 'login' %}">Login</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <!--add replies end -->
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
        {% endif %}
        <!-- comment end -->
        <p>Leave Comment</p>
        {% if user.is_authenticated %}
            {% if user.profile.id %}
                  <form class="ui reply form" method="post" action="{% url 'transfer_detail_comment' object.pk %}">
                        {% csrf_token %}
                        <div class="field">
                            {{ form|crispy }}
                        </div>
                        <button name="comment_add" value="{{ object.id }}"  class="ui red button mt-3" type="submit">Send comment</button>
                    </form>
            {% else %}
                <h1>Please, create a profile page to add some comments </h1>
                <div class="item">
                    <a class="ui inverted secondary button" href="{% url 'create_profile_page' %}">Create Profile</a>
                </div>
            {% endif %}

        <!--add comments end -->

        {% else %}
            <br>
            <p class="mt-2">
                Please, Sign up and create a profile or login to add a comment
            </p>
            <div class="item">
                <a class="ui inverted green button mb-4" href="{% url 'login' %}">Login</a>
                <a class="ui inverted red button mb-4" href="{% url 'signup' %}">Signup</a>
            </div>
        {% endif %}

               <!--Pagination-->
<!--        <div class="container my-5">-->
<!--            <div class="row text-center">-->
<!--                 <div class="ui large horizontal divided list">-->
<!--                     {% if page_obj.has_previous %}-->
<!--                         <div class="item">-->
<!--                           <div class="content">-->
<!--                               <a href="?page=1" class="header">&laquo; first</a>-->
<!--                           </div>-->
<!--                         </div>-->
<!--                         <div class="item">-->
<!--                           <div class="content">-->
<!--                               <a href="?page={{ page_obj.previous_page_number }}" class="header">previous</a>-->
<!--                           </div>-->
<!--                         </div>-->
<!--                     {% endif %}-->

<!--                    <div class="item">-->
<!--                       <div class="content">-->
<!--                           <div class="header">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>-->
<!--                       </div>-->
<!--                    </div>-->
<!--                     {% if page_obj.has_next %}-->
<!--                        <div class="item">-->
<!--                           <div class="content">-->
<!--                                <a href="?page={{ page_obj.next_page_number }}" class="header">next</a>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                         <div class="item">-->
<!--                            <div class="content">-->
<!--                                <a href="?page={{ page_obj.paginator.num_pages }}" class="header">last &raquo;</a>-->
<!--                           </div>-->
<!--                         </div>-->
<!--                     {% endif %}-->
<!--                    </div>-->
<!--                 </div>-->
<!--            </div>-->
        <h1 class="ui inverted header">
        </h1>
    </div>

<!--    comments section end-->
</div>

<!--    Modals -->

    <!-- show transfers -->
    <div class="ui modal show_transfers">
      <i class="close icon"></i>
      <div class="header">
        How many transfers?
      </div>
      <div class="image content">
          <div class="ui items">
              {% if page_user_transfer != 0 %}
                  {% for user_transfer in page_user_transfer %}
                      <div class="item">
                            <a class="ui tiny image" href="{% url 'transfer_detail' user_transfer.id  %}">
                                {{user_transfer.location}}
                                ({{user_transfer.whichLocation}})
                                <i class="exchange icon"></i>
                            </a>
                            <div class="middle aligned content">
                              <div class="header">
                                 <div class="description">
                                    <a class="ui header" href="{% url 'transfer_detail' user_transfer.id  %}">{{user_transfer.title}} | {{user_transfer.date}}</a>
                                </div>
                              </div>
                            </div>
                      </div>
                  {% endfor %}
              {% else %}
                  <p>No tranfers yet... </p>
              {% endif %}
          </div>
      </div>
      <div class="actions">
        <div class="ui negative right button">
          Close
        </div>
      </div>
    </div>

    <!-- to show likes-->
    <div class="ui modal test">
      <i class="close icon"></i>
      <div class="header">
        Who liked?
      </div>
      <div class="image content">
          <div class="ui items">
              {% if total_likes != 0 %}
                  {% for user, count in userLike.items %}
                      <div class="item">
                            <a class="ui tiny image" href="{% url 'user_profile' user.profile.id  %}">
                                <div class="ui small image">
                                    <img src="{% static ''  %}" id="{{user.profile.user_image}}" class="profileImageShowModal">
                                </div>
                            </a>
                            <div class="middle aligned content">
                              <div class="header">
                                 <div class="description">
                                    <i class="like icon "></i><a class="ui header" href="{% url 'user_profile' user.profile.id  %}">{{user.first_name}} {{user.last_name}} - {{count}}</a>
                                </div>
                              </div>
                            </div>
                      </div>
                  {% endfor %}
              {% else %}
                  <p>No Likes yet... </p>
              {% endif %}
          </div>
      </div>
      <div class="actions">
        <div class="ui negative right button">
          Close
        </div>
      </div>
    </div>

    <!-- to show reputations-->
    <div class="ui modal new_test">
      <i class="close icon"></i>
      <div class="header">
        Who gave reputation?
      </div>
      <div class="image content">
          <div class="ui items">
              {% if total_reputations != 0 %}
                  {% for userReaction, count in userReputation.items %}
                      <div class="item">
                            <a class="ui tiny image" href="{% url 'user_profile' userReaction.profile.id  %}">
                                <div class="ui small image">
                                    <img src="{% static ''  %}" id="{{userReaction.profile.user_image}}" class="profileImageShowModal">
                                </div>
                            </a>
                            <div class="middle aligned content">
                              <div class="header">
                                 <div class="description">
                                    <a class="ui header" href="{% url 'user_profile' userReaction.profile.id  %}">{{userReaction.first_name}} {{userReaction.last_name}} - {{count}}</a>
                                </div>
                              </div>
                            </div>
                      </div>
                  {% endfor %}
              {% else %}
                  <p>No reputations yet... </p>
              {% endif %}
          </div>
      </div>
      <div class="actions">
        <div class="ui negative right button">
          Close
        </div>
      </div>
    </div>

<script>


    // identify images of author which written comments
    profileImageShow = document.querySelectorAll('.profileImageShow')
    profileImageShow.forEach(function(item){
        each_profileImage_id = item.id
        each_profileImage = item.src = "/static/images/" + each_profileImage_id + ".jpg";
    })

    // Identify images of the author to which comments have replied
    profileImageShowReply = document.querySelectorAll('.profileImageShowReply')
    profileImageShowReply.forEach(function(item){
        each_profileImageReply_id = item.id
        each_profileImageReply = item.src = "/static/images/" + each_profileImageReply_id + ".jpg";

    })

    // identify images of author which written comments
    profileImageShow = document.querySelectorAll('.profileImageShowModal')
    profileImageShow.forEach(function(item){
        each_profileImage_id = item.id
        each_profileImage = item.src = "/static/images/" + each_profileImage_id + ".jpg";
    })


    $(document)
    .ready(function() {
        
        //Likes
        $(document).on('click', '#like-button', function (e) {
            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: '{% url "like_transfer" transfer.id %}',
              data: {
                postid: $('#like-button').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
              },
              success: function (json) {
                like_button = document.querySelector(".like-button-icon")
                if (like_button.classList.contains('outline')) {
                    like_button.classList.remove('outline')
                } else {
                    like_button.classList.add('outline')
                }
              
                document.getElementById("like_count").innerHTML = 'Likes:'+ ' ' + json['result']
              },
              error: function (xhr, errmsg, err) {
    
              }
            });
          })

          //Reputations
          $(document).on('click', '#reputation-button', function (e) {
            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: '{% url "reputation_transfer" transfer.id %}',
              data: {
                postId: $('#reputation-button').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
              },
              success: function (json) {

                reputation_button = document.querySelector(".reputation-button-icon")
                if (reputation_button.classList.contains('green')) {
                    reputation_button.classList.remove('green')
                } else {
                    reputation_button.classList.add('green')
                }

                document.getElementById("reputation_count").innerHTML = 'Reputations:' + ' ' + json['result']
              },
              error: function (xhr, errmsg, err) {
    
              }
            });
          })


          //status change
          $(document).on('click', '#status-transfer-button', function (e) {
            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: '{% url "status_change" transfer.id %}',
              data: {
                postId: $('#status-transfer-button').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
              },
              success: function (json) {
                reputation_button = document.querySelector(".transfer-status-button-icon")
                if (reputation_button.classList.contains('green')) {
                    reputation_button.classList.remove('green')
                    document.getElementById("status_transfer_display").innerHTML = 'Status:' + ' ' + 'Inaktiv'
                } else {
                    reputation_button.classList.add('green')
                    document.getElementById("status_transfer_display").innerHTML = 'Status:' + ' ' + 'Aktiv'
                }
                
              },
              error: function (xhr, errmsg, err) {
    
              }
            });
          })


      // modal toggle to show all users
         $(function(){
            $("#show_profiles").click(function(){
                $(".show_profiles").modal('show');
            });
            $(".show_profiles").modal({
                closable: true
            });
        });

      // modal toggle to show likes
         $(function(){
            $("#test").click(function(){
                $(".test").modal('show');
            });
            $(".test").modal({
                closable: true
            });
        });

      // modal toggle to show reputations
         $(function(){
            $("#new_test").click(function(){
                $(".new_test").modal('show');
            });
            $(".new_test").modal({
                closable: true
            });
        });

      // modal toggle to show transfers
         $(function(){
            $("#show_transfers").click(function(){
                $(".show_transfers").modal('show');
            });
            $(".show_transfers").modal({
                closable: true
            });
        });

       // hide Alert after 3 seconds
        setTimeout(function(){
            if (!$('.transfer_update').hasClass('hidden')){
                $('.transfer_update').addClass('hidden')
            }
        }, 10000)


    });


</script>

 {% endblock content %}